body{
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
    font-size: 25px;
    
}

.container-fluid{
    padding: 0;
}

h1{
    background-color: #EEEEEE;
    font-family: 'Bebas Neue';
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;}

h2{
    margin-bottom: 20px;
}

    /* navbar */

.navbar{
    background-color: #000000;
    font-family: 'Ubuntu';
}

.navbar-brand{
    font-family: 'Carter One';
    font-size: 30px;
    padding: 10px 90px 10px 30px;
}

.nav-item{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    
}

.nav-item:hover{
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    transition: 0.5s;
}

/* Register-Card */

#Main{
    text-align: center;
    margin: auto;
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    
}

#Card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 70px ;
}


#Login-btn{
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    height: 50px;
    width: 320px;
}

#Login-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
    height: 50px;
    width: 320px;
}

/* bot-navbar */

#nav-bot{
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
}

.Social-Media-Icons-Design{
    height: 55px;
    width: 55px;
    margin-right: 50px;
    margin-left: 50px;
}

@media only screen and (max-width: 992px) {

    #nav-bot{
        position: fixed;
        bottom: 0%;
        width: 100%;
        justify-content: center;
        padding: 15px 0;
    }

    h1{
        background-color: #EEEEEE;
        font-family: 'Bebas Neue';
        font-size: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;}

        #Card{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 50px ;
            padding-bottom: 150px ;
        }
    
    

  }
